<div class="row">
    <div data-ng-repeat="item in menu.foundItems">
        <div>
            <div>
                <h2>{{item.name}}</h2>
                <h3>{{item.short_name}}</h3>
                <p>{{item.description}}</p>
                <input type="button" aria-label="remove" data-ng-click="menu.onRemove({index: $index})"
                    class="btn btn-lg btn-primary" value="Don't want this one!">
            </div>
        </div>
    </div>
</div>
<div class="alert alert-danger" role="alert" data-ng-show="menu.onEmpty">{{menu.onEmpty}}</div>