<!doctype html>
<html lang="en" data-ng-app="NarrowItDownApp">

<head>
  <meta charset="UTF-8" />
  <title>Narrow Down Your Menu Choice</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="styles/bootstrap.min.css" />
  <link rel="stylesheet" href="styles/styles.css" />
  <script defer src="angular.min.js"></script>
  <script defer src="scripts/app.js"></script>
  <link rel="icon" type="image/x-icon" href="images/favicon.ico">
</head>

<body>
  <div class="container" data-ng-controller="NarrowItDownController as menu">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input aria-label="term" type="text" data-ng-model="menu.narrowTerm" placeholder="search term"
        class="form-control" />
    </div>
    <div class="form-group narrow-button">
      <button data-ng-click="menu.narrowItDown();" class="btn btn-primary">Narrow It Down For Me!</button>
    </div>
    <br>
    <br>
    <br>
    <found-items found-items="...." on-remove="....">
      <ul>
        <li data-ng-repeat="category in menu.categories">
          (<a href="" data-ng-click="menu.logMenuItems(category.short_name);">{{ category.short_name
            }}</a>)
          {{ category.name }}
        </li>
      </ul>
    </found-items>
  </div>
</body>

</html>